<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-content" style="max-width:1300px" background="red">

<!-- First Grid: Logo & About -->
<div class="w3-row">

  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>VALET BOOKING SYSTEM</h1>
    </div>
    <div class="w3-padding-64">
      <a href="/index/" style="margin-top:210px;" class="btn btn-white btn-animation-1" w3 padding 16> SECURITY LOGIN</a> <a href="/signup/" style="margin-left:2em;" class="btn btn-white btn-animation-1"w3 padding 16>SECURITY SIGNUP</a> <br><br><br>
          <a href="/userlogin/" style="margin-top:210px;" class="btn btn-white btn-animation-1" w3 padding 16>CUSTOMER LOGIN</a><br><br><br>
          <a href="/contactus/" class="btn btn-white btn-animation-1"w3 padding 16>Contact us</a>   <a href="complaint" style="margin-left:2em;" class="btn btn-white btn-animation-1"w3 padding 16>Complaints</a> <br><br><br>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>BOOKING SLOTS</h1>



    </div>
  </div>
</div>

<!-- Second Grid: Work & Resume -->

</body>
</html>
